<script type="text/javascript">
  var app = angular.module('listPost', []);
  app.run(function($rootScope) {
    $rootScope.name = "List post";
  });
  app.controller('listPostController', function($scope, $http) {
    $scope.edit = function(id) {
      window.location.href = "http://localhost:3000/admin/editPost/" + id;
    }

    $scope.del = function(id) {
      $http.get('delArticle/' + id)
      .success(function(data, status) {
        if(data.code === 0) {
          $('#post-id-' + id).remove();
        }
        console.log('status: %s \n data: %s', data, status);
      }).error(function(data, status) {
        console.log('status: %s \n data: %s', data, status);
      });
    }
  });
</script>
<div class="table-responsive" ng-app="listPost">
  <table class="table">
    <thead>
      <tr>
        <th>操作</th>
        <th>标题</th>
        <th>描述</th>
        <th>日期</th>
      </tr>
    </thead>
    <tbody ng-controller="listPostController">
      <% articles.forEach(function(item,i){ %>
      <tr id='post-id-<%=item.id%>'>
        <td><a href="javascript:void(0);" ng-click="edit('<%=item.id%>')"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;<a href="javascript:void(0);" ng-click="del('<%=item.id%>')"><span class="glyphicon glyphicon-trash"></span></a></td>
        <td><%=item.title%></td>
        <td><%=item.description%></td>
        <td><%=item.time%></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<nav>
  <ul class="pagination">
    <li><a href="/admin/listPost/1">&laquo;</a></li>
    <%
      var totalPage = Math.ceil(count / perPage);
      for(var i=1; i <= totalPage; i++){
    %>
      <%if(i==page){%>
        <li class="active"><a href="javascript:void(0);"><%=i%></a></li>
      <%}else{%>
        <li><a href="/admin/listPost/<%=i%>"><%=i%></a></li>
      <%}%>
    <%}%>
    <li><a href="/admin/listPost/<%=totalPage%>">&raquo;</a></li>
  </ul>
</nav>
