<div class="jumbotron">
  <h1>Marketing stuff!</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
</div>
<% if(articles.length) {
    var count = 0;
    articles.forEach(function(item, i) {
      var remin = i % 3;
      count++;
      if(remin === 0) {
      %>
        <div class="row">
      <%}%>
        <div class="col-lg-4">
          <h2><%=item.title%></h2>
          <p><%=item.description%></p>
          <p><a class="btn btn-primary" href="article/<%=item.id%>" role="button">View details &raquo;</a></p>
        </div>
        <%if(count === 3 || i === articles.length) {
          count = 0;
          %>
        </div>
        <%}%>
    <% }); %>
  </div>
<%}%>
